body {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

#game_canvas {
  border: 1px solid #000000;
	background:white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#container {
  width: 1600px;
  height: 791px;
}

#overlay{ 
	background:rgba(0,0,0,0.7);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:70vmin;
	height:70vmin;
	
	padding:1vmin;
	margin:0px;
	border-radius:2vmin;
	
	font-size:3.3vmin;
}

#title {
	text-align: center;
	font-size: 4em;
	margin-top: -10px;
}

#title_sub {
	text-align: center;
	font-size: 4em;
	margin-top: -70px;
}